.app-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}

.right-side {
  width: 65%;
}
