.app-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left-side {
  width: 65%;
}

.right-side {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
  }

  .right-side {
    width: 100%;
    order: 1;
  }

  .left-side {
    width: 100%;
    order: 2;
  }
}
