<div class="todos-wrapper">

  <div class="todos-filter-bar">
    <select [(ngModel)]="filter" class="todos-filter-select">
      <option value="ALL">All</option>
      <option value="NEW">New</option>
      <option value="IN-PROGRESS">In-Progress</option>
      <option value="DONE">Done</option>
    </select>
  </div>

  <div class="todos-container"
       [class.empty]="(isEmpty$ | async) || (loading$ | async)">

    <div *ngIf="loading$ | async" class="todos-loading-wrapper">
      <div class="todos-loading-spinner"></div>
    </div>

   
    <p *ngIf="!(loading$ | async) && (isEmpty$ | async)"
       class="no-todos">
      No Todo Available
    </p>

   
    <ng-container *ngIf="!(loading$ | async) && !(isEmpty$ | async)">
      <app-single-todo
        *ngFor="let todo of (filteredTodos$ | async)"
        [title]="todo.title"
        [note]="todo.note"
        [status]="todo.status"
        [todoId]="todo.id"
      ></app-single-todo>
    </ng-container>

  </div>

</div>
