.todos-container {
  background: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;       
  overflow-x: hidden;      
}

.no-todos {
  margin: auto;  
  font-size: 18px;
  font-weight: 600;
  color: #555;
}
